DB_USER=finanzas_user
DB_PASSWORD=finanzas_password
DB_NAME=finanzas_db
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@localhost:5432/${DB_NAME}?schema=public"
JWT_SECRET=supersecretkey
PORT=3000
NODE_ENV=development

# Frontend
PUBLIC_API_URL="http://localhost:3000/api"
PUBLIC_APP_NAME="Finanzas App"
